.vscode/
saved_model/
saved_model_test/
saved_model_best/
*.pt
data/train_option_label.txt
*.xlsx
category_id_map.json
label_data/*
__pycache__/
*.pyc
paragraph_data/*
.history/*
conf.py
tmp/*
sample.txt
data/*.json
data/*.jsonl
runs/*
User/*
label_data_text/*utils/hf_download_model.py
utils/hf_download_model.py
